.stepper-container {
    width: max-content;
    margin: 20px;
    position: absolute;
    top: 50%;
    left: 50%;

    &__percentage {
        color: #2B64F5;
    }

    &__value {
        height: 35px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 5px 0;
        padding-left: 30px;

        &--current {
            color: #7F7F7F;
            border-left: 2px solid #7F7F7F;
        }

        &--previous {
            color: #2B64F5;
            border-left: 2px solid #2B64F5;
        }

        &--next {
            color: #B2B2B2;
            border-left: 2px solid #B2B2B2;
        }
    }
}

@media screen and (max-width: 950px) {
    .stepper-container {
        position: sticky;
        top: 0;
        left: 30%;
    }
}
